<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= title %></title>
    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
  </head>
  <body>
    <div class="navbar">
      <div class="navbar-inner navbar-fixed-top">
        <div class="container">
          <a class="brand" href="#">
            Brochure
          </a>
        </div>
      </div>
    </div>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
